file CSS stylesheet

/* Reset CSS (JANGAN DIHAPUS) */
html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p, div {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Lucida Grande";
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

/* Ketik code Anda dibawah */

/*header*/
header {
  position: fixed;
  top: 0;
  background-color: rgba(34, 49, 52, 0.9);
  height: 65px;
  width: 100%;
  z-index: 100;
}
.logo {
  width: 124px;
  margin-left: 20px;
}
.header-kiri {
  float: left;
}
.header-kanan a {
  color: white;
  padding: 0 25px;
  margin: -20px 30px;
  line-height: 65px;
  display: block;
  float: right;
  background-color: rgba(255, 255, 255, 0.3);
  transition: all 0.5s;
}
.login:hover {
  background-color: rgba(255, 255, 255, 0.5);
}

/*class top*/
.top {
  background-image: url(https://prog-8.com/images/html/advanced/top_en.png);
  background-size: cover;
  height: 600px;
}
.container {
  padding: 20px;
}
.top h1, p {
  color: white;
  text-align: center;
  opacity: 0.7;
}
.top h1 {
  font-size: 45px;
  letter-spacing: 5px;
  margin-bottom: 10px;
}
.top p {
  padding: 1px;
}
.aa {
  margin-top: 160px;
}
.btn-top {
  text-align: center;
  margin: 20px 10px;
}
.btn {
  padding: 12px 18px;
  color: white;
  display: inline-block;
  opacity: 0.8;
}
.btn:hover {
  opacity: 1;
}
.atau {
  margin: 9px 0px;
}
.email {
  background-color: #239b76;
}
.facebook {
  background-color: #3b5998;
  margin-right: 10px;
}
.twitter {
  background-color: #55acee;
}
.fa {
  margin-right: 7px;
}








