file CSS

/* Reset CSS (JANGAN DIHAPUS) */
html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p, div {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Lucida Grande";
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

/* Ketik code Anda dibawah */

/*class top*/
.top {
  background-image: url(https://prog-8.com/images/html/advanced/top_en.png);
  background-size: cover;
  height: 600px;
}
.container {
  padding: 20px;
}
.top h1, p {
  color: #ddd;
  text-align: center;
}
.top h1 {
  font-size: 45px;
  letter-spacing: 5px;
  margin-bottom: 10px;
}
.aa {
  margin-top: 160px;
}







